*{
    margin: 0;
}
body{
    font-family: arial;
}

.flex-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header.site-header{
    height: 15vh;
    background-color: blueviolet;
}

header.site-header h1{
    color: white;
    text-align: center;
    padding: 1rem;
    text-shadow: 2px 2px black;
    font-size: 40px;
}
nav{
    background-color: blueviolet;
    padding: 1rem;
    text-align: right;
    padding-top: 2rem;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: .5rem;
}
h2{
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
   
}
.list-title{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.form-container{
    background-color: blueviolet;
    width: 60%;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 6rem;
    margin-right: auto;
    margin-left: auto;
    color: white;

}

.input-container{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.input-container label{
    flex-basis: 25%;
    text-align: right;
    margin-right: 1rem;

}
.input-container input, .input-container select{
    flex-basis: 75%;
    padding: 3px;
    font-size: 16px;
}

#btnSave{
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid white;
    background-color: blueviolet;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.input-error{
    border: 1px solid red;
    background-color: pink;
}

.hide{
    display: none;
}
#alert-error{
    
    background-color: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.table{
    margin-top: 2rem;
  
    
}

thead{
    margin-top: 3rem;
    background-color: blueviolet;
    color: white;
    text-align: center;
}
tr{
    text-align: center;
    
}